
server:
  port: ${PORT:9052}


eureka:
  client:
    serviceUrl:
      defaultZone: ${vcap.services.eureka-service.credentials.uri:http://127.0.0.1:8761}/eureka/

---
spring:
  profiles: cloud
eureka:
  instance:
    hostname: ${APPLICATION_DOMAIN}
    nonSecurePort: 80

---
spring:
  cloud:
    config:
      server:
        git:
          uri: /Users/rodrigo/Documents/JavaOne/microservice-reactive/config


